{% comment %} {% extends 'Predict/base.html' %}

{% block title %}Car{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid text-light text-center mt-5">
  <img src="{% static 'Predict/car.jpg' %}" alt="Car Image" class="img-fluid rounded-square mb-3"
    style="max-width: 350px; max-height: 350px; border: 1px solid #ffffff">
  <h1 class="mb-4 text-glow">Predict Car Brand</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="mb-3">
          <label for="image" class="form-label text-glow">Upload Image:</label>
          <input type="file" name="image" accept="image/*" class="form-control" required />
        </div>
      </div>
    </div>
    <button type="submit" class="btn orange-btn">Predict</button>
  </form>
</div>
{% endblock %} {% endcomment %}